<div class="article-row">
  <div class="article-row__image">
    <img src="{{this.image}}" alt="{{this.title}}"/>
  </div>
  <div class="article-row__content">
    <span class="article-row__category">{{this.category}} </span>
    <a href="/article/{{this.id}}" aria-label="Open Article - {{this.title}}">
      <h4>{{this.title}}</h4>
    </a>
    <p>{{this.summary.excerpt}}</p>
    <span class="article-row__date">{{this.lifecycle.last_published_date_readable}}</span>
  </div>
  <div class="article-row__button">
    <button aria-label="Save to myFT">Save <span>to myFT</span></button>
  </div>
</div>