<div class="header">
  <div class="header__container">
    <div class="header__left-menu">
      <i class="material-icons" aria-label="Open menu">menu</i>
      <i class="material-icons header__search" aria-label="Open search">search</i>
    </div>
    <div class="header__logo">
      <a href="/" aria-label="Financial Times Home">
        <img id="ftHome" src='/svgs/logos.svg' alt="Financial Times" /></div>
    </a>
    <div class="header__right-menu">
      <span class="header__myft header__visually-hidden" aria-label="myFT">myFT</span>
    </div>
  </div>
</div>