<div class="paging">
  <div class="paging__container">
    {{#if this.showPrev}}
    <form action="/search-results" method="POST">
      <input aria-label="Search Term" type="hidden" name="searchTerm" value="{{this.searchTerm}}" />
      <input aria-label="Page" type="hidden" name="page" value="{{ this.prevOffset}}" />
      <button aria-label="Previous page">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
    </form>
    {{/if}}
    Page
    <span class="paging__page">
      {{ this.page }}
    </span>
    of
    <span class="paging__total">
      {{ this.totalCount }}
    </span>
    {{#if this.showNext}}
    <form action="/search-results" method="POST">
      <input aria-label="Search Term" type="hidden" name="searchTerm" value="{{this.searchTerm}}" />
      <input aria-label="Page" type="hidden" name="page" value="{{ this.nextOffset}}" />
      <button aria-label="Next page">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </form>
    {{/if}}
  </div>
</div>