<div class="placeholder">
  <div class="placeholder__container">
    <div class="placeholder__article-picture">
      <img
        src="https://cdn.ca.emap.com/wp-content/uploads/sites/9/2020/02/shutterstock_1176271219-Brexit-standards-e1583506390381-1024x684.jpg"
        alt="Brexit the divide"
      >
    </div>
    <div class="placeholder__article-title">
      <span class="placeholder__article-title--category">Brexit</span>
      <h1>Markets Now - LIVE - Monday 9th March 2020</h1>
      <div class="placeholder__article-title--bar"></div>
    </div>
    <div class="placeholder__story">
      <h2>What is the European Union?</h2>
      <p>The EU is an economic and political union involving 28 European countries. It allows free trade, which means goods can move between
        member countries without any checks or extra charges. The EU also allows free movement of people, to live and work in whichever
        country they choose.</p>

      <p>The UK joined in 1973 (when it was known as the European Economic Community) and it will be the first member state to withdraw.</p>

      <h2>What happens after Brexit day?</h2>
      <p>The UK formally left the EU on 31 January 2020, but there is still a lot to talk about and months of negotiation to come.</p>

      <p>While the UK has agreed the terms of its EU departure, both sides still need to decide what their future relationship will look
        like.</p>

      <p>This will need to be worked out during the transition period (which some prefer to call the implementation period), which began
        immediately after Brexit day and is due to end on 31 December 2020.</p>

      <p>During this 11-month period, the UK will continue to follow all of the EU's rules and its trading relationship will remain the
        same.</p>
    </div>
  </div>
</div>

{{!-- ...UK Brexit referendum in 2016, we illustrate that the sector leaders have historically recovered well from a range of... --}}