<div class="placeholder2">
  <div class="placeholder2__container">
    <div class="placeholder2__content">
      <div class="placeholder2__category">
        Coronavirus <i class="material-icons">keyboard_arrow_right</i>
      </div>
      <div class="placeholder2__title">
        Italy extends coronavirus quarantine to entire country
      </div>

      <div class="placeholder2__byline">
        Population of 60m instructed to stay at home except for urgent health or work reasons
      </div>

      <div class="placeholder2__time">
        3 hours ago
      </div>
    </div>

    <div class="placeholder2__image">
      <img
        src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2Fbecacc04-622f-11ea-abcc-910c5b38d9ed?source=next&fit=scale-down&compression=best&width=420" 
        alt="Coronavirus Quarantine - resistance with authorities">
    </div>
  </div>
  <div class="placeholder2__sub-container">
    <div class="placeholder2__sub-inner-container">

      <div class="placeholder2__article">
        <div class="placeholder2__sub-container--title">Markets Briefing</div>
        <div class="placeholder2__sub-container--content">US stocks fall 7.6% in worst day since December 2008</div>
      </div>
      <div class="placeholder2__article">
        <div class="placeholder2__sub-container--title">Coronavirus</div>
        <div class="placeholder2__sub-container--content">Coronavirus: Dollar stores, Clorox make shortlist of stock winners amid rout — as
          it happened</div>
      </div>
      <div class="placeholder2__article">
        <div class="placeholder2__sub-container--title">Mohamed El-Erian</div>
        <div class="placeholder2__sub-container--content">How this market crash is different from 2008, and the same</div>
      </div>
      <div class="placeholder2__article">
        <div class="placeholder2__sub-container--title">Market Forces</div>
        <div class="placeholder2__sub-container--content">Shockwaves topple asset price dominoes</div>
      </div>
    </div>
  </div>
</div>