<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FT.com App</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="icon" type="image/png"
    href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square-coloured?source=update-logos&amp;width=32&amp;height=32&amp;format=png"
    sizes="32x32">
  <link rel="icon" type="image/png"
    href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square-coloured?source=update-logos&amp;width=194&amp;height=194&amp;format=png"
    sizes="194x194">
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square-coloured?source=update-logos&amp;width=180&amp;height=180&amp;format=png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>