{{> header }}
<div class="home">
  <div class="home__search">
    <div class="home__form">
      <form action="/search-results" method="POST">
        <input type="text" aria-label="Search Term" name="searchTerm" placeholder="Search the FT" />
        <button aria-label="Search the Financial Times">Search</button>
        <i class="material-icons">close</i>
      </form>
    </div>
    {{> placeholder2 }}
  </div>
</div>