{{> header }}
<div class="search-results">
  <div class="search-results__container">
    <div class="search-results__search">
      {{#each articles}}
      {{> articleRow this}}
      {{/each}}
    </div>
    {{> paging paging }}
  </div>
</div>