*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  font-size: 62.5%;
  font-size: 1rem;
  background: #fff1e5;
  text-rendering: optimizeLegibility;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  background-color: #fff1e5;
  border-bottom: 1px solid #ccc1b7; }
  .header__container {
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    min-width: 240px;
    position: relative;
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1;
    align-items: center;
    height: 6rem; }
    @media (min-width: 46.25em) {
      .header__container {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 740px; } }
    @media (min-width: 61.25em) {
      .header__container {
        max-width: 980px; } }
    @media (min-width: 76.25em) {
      .header__container {
        max-width: 1220px; } }
  .header__left-menu {
    display: flex;
    height: 100%;
    align-items: center;
    width: 147px; }
    .header__left-menu i {
      margin-top: 0.5rem;
      display: block;
      font-size: 32px;
      margin-right: 2rem;
      cursor: pointer; }
  @media (max-width: 61.25em) {
    .header__search {
      visibility: hidden; } }
  .header__visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0); }
  .header__right-menu {
    display: flex;
    height: 100%;
    align-items: center;
    width: 147px;
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-myft?format=svg&source=page-kit-layout&tint=%2333302E%2C%2333302E);
    background-size: 52px auto;
    background-repeat: no-repeat;
    background-position: right; }
    @media all and (-ms-high-contrast: none) {
      .header__right-menu {
        display: none; } }
    @media all and (min-width: 46.25em) and (-ms-high-contrast: none) {
      .header__right-menu {
        display: flex; } }
  .header__logo {
    width: 886px;
    max-height: 55px;
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .header__logo img {
      width: 500px; }
      @media (max-width: 61.25em) {
        .header__logo img {
          width: 300px; } }
    @media screen and (-ms-high-contrast: none) {
      .header__logo img {
        max-height: 26px; } }

@media screen and (-ms-high-contrast: none) and (min-width: 61.25em) {
  .header__logo img {
    max-height: 43px; } }

.header {
  display: flex;
  background-color: #fff1e5;
  border-bottom: 1px solid #ccc1b7; }
  .header__container {
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    min-width: 240px;
    position: relative;
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1;
    align-items: center; }
    @media (min-width: 46.25em) {
      .header__container {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 740px;
        height: 56px; } }
    @media (min-width: 61.25em) {
      .header__container {
        max-width: 980px;
        height: 6rem; } }
    @media (min-width: 76.25em) {
      .header__container {
        max-width: 1220px; } }
  .header__left-menu {
    display: flex;
    height: 100%;
    align-items: center;
    width: 57px; }
    .header__left-menu i {
      margin-top: 0.5rem;
      display: block;
      font-size: 32px;
      margin-right: 2rem;
      cursor: pointer; }
    @media (min-width: 61.25em) {
      .header__left-menu {
        width: 147px; } }
  @media (max-width: 61.25em) {
    .header__search {
      visibility: hidden; } }
  .header__visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0); }
  .header__right-menu {
    display: flex;
    height: 100%;
    align-items: center;
    width: 147px;
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-myft?format=svg&source=page-kit-layout&tint=%2333302E%2C%2333302E);
    background-size: 52px auto;
    background-repeat: no-repeat;
    background-position: right; }
    @media all and (-ms-high-contrast: none) {
      .header__right-menu {
        display: none; } }
    @media all and (min-width: 46.25em) and (-ms-high-contrast: none) {
      .header__right-menu {
        display: flex; } }
  .header__logo {
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 349px;
    height: 55px; }
    .header__logo img {
      width: 500px; }
      @media (max-width: 61.25em) {
        .header__logo img {
          width: 300px; } }
    @media (min-width: 61.25em) {
      .header__logo {
        width: 886px; } }

.article-row {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc1b7; }
  .article-row__image {
    background-image: url("/images/No_image_3x4.svg.png");
    background-repeat: no-repeat;
    background-size: 100px auto;
    background-position: 50px 25px; }
  .article-row__category {
    color: #990f3d;
    font-weight: 700;
    font-size: 14px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; }
  .article-row__content {
    max-width: 385px;
    margin-top: 1rem;
    margin-bottom: 0.5rem; }
    .article-row__content h4 {
      font-size: 19px;
      margin-bottom: 0.8rem;
      font-weight: 500; }
    .article-row__content a {
      font-family: "Times New Roman", Times, serif;
      text-decoration: none;
      color: #000; }
    .article-row__content p {
      color: #66605c;
      font-size: 14px; }
  .article-row__date {
    font-size: 11px;
    color: #66605c; }
  .article-row button {
    background-color: transparent;
    color: #0c707a;
    border: 1px solid #0c707a;
    padding: 6px 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.15s ease-out, border-color 0.15s ease-out;
    margin-top: 1rem; }
    .article-row button:hover {
      background-color: rgba(13, 118, 128, 0.1); }
    .article-row button span {
      display: none; }
  .article-row img {
    margin-top: 1rem;
    display: none; }
  @media (min-width: 46.25em) {
    .article-row img {
      display: block;
      width: 150px;
      height: auto; }
    .article-row__content {
      margin-left: 1em; }
    .article-row__button {
      margin-left: 1rem;
      min-width: 130px;
      max-width: 130px; }
    .article-row button span {
      display: inline; } }
  @media (min-width: 61.25em) {
    .article-row__button span {
      display: inline; }
    .article-row img {
      display: block;
      width: 200px;
      height: auto; } }

.paging {
  margin: 1rem 0; }
  .paging__container {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .paging__total {
    margin-left: 2px;
    margin-right: 2px; }
  .paging__page {
    font-weight: 700;
    margin-left: 2px;
    margin-right: 2px; }
  .paging button {
    background-color: transparent;
    color: #0c707a;
    border: 1px solid #0c707a;
    padding: 6px 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.15s ease-out, border-color 0.15s ease-out;
    padding: 6px 8px 1px 8px;
    margin: 0 1rem; }
    .paging button:hover {
      background-color: rgba(13, 118, 128, 0.1); }
    .paging button i {
      font-size: 2rem; }

.placeholder__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  min-width: 240px;
  position: relative;
  max-width: 1150px;
  zoom: 1;
  align-items: center;
  height: 6rem; }
  @media (min-width: 61.25em) {
    .placeholder__container {
      padding-left: 10px;
      padding-right: 10px; } }

.placeholder__article-picture {
  width: 100%;
  align-self: baseline; }
  .placeholder__article-picture img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
    @media (min-width: 61.25em) {
      .placeholder__article-picture img {
        height: 550px; } }

.placeholder__article-title {
  background-color: #fff1e5;
  padding: 0.5rem; }
  @media (min-width: 61.25em) {
    .placeholder__article-title {
      transform: translate(-20px, -150px);
      width: 750px;
      padding: 1.5rem; } }
  .placeholder__article-title--category {
    color: #990f3d;
    font-weight: 700; }
  .placeholder__article-title--bar {
    width: 150px;
    background-color: #000;
    height: 7px;
    margin-top: 0.85rem;
    display: none; }
    @media (min-width: 61.25em) {
      .placeholder__article-title--bar {
        display: block; } }
  @media all and (-ms-high-contrast: none) {
    .placeholder__article-title {
      width: 100%; } }
  @media all and (min-width: 46.25em) and (-ms-high-contrast: none) {
    .placeholder__article-title {
      width: 750px; } }
  .placeholder__article-title h1 {
    font-family: none;
    font-size: 35px;
    padding-top: 0.5rem; }
    @media (min-width: 61.25em) {
      .placeholder__article-title h1 {
        font-size: 55px; } }

.placeholder__story {
  width: 100%;
  max-width: 732px;
  padding: 0.5rem;
  padding-right: 1rem; }
  @media (min-width: 46.25em) {
    .placeholder__story {
      margin-top: 0px; } }
  @media (min-width: 61.25em) {
    .placeholder__story {
      margin-top: -150px; } }
  @media all and (-ms-high-contrast: none) {
    .placeholder__story {
      margin-top: 50px; } }
  @media all and (min-width: 46.25em) and (-ms-high-contrast: none) {
    .placeholder__story {
      margin-top: 0px; } }
  @media all and (min-width: 61.25em) and (-ms-high-contrast: none) {
    .placeholder__story {
      margin-top: -110px; } }
  .placeholder__story h2 {
    font-size: 18px;
    margin: 0.5rem 0; }
  .placeholder__story p {
    margin-bottom: 1rem; }

.placeholder2 {
  background-color: #262a33; }
  .placeholder2__container {
    width: 100%;
    max-width: 732px;
    padding: 0.5rem;
    margin: auto; }
    @media (min-width: 46.25em) {
      .placeholder2__container {
        flex-direction: row;
        display: flex;
        justify-content: space-between; } }
    @media (min-width: 61.25em) {
      .placeholder2__container {
        max-width: 1000px; } }
  @media (min-width: 46.25em) {
    .placeholder2__content {
      width: 60%; } }
  .placeholder2__category {
    color: #fff;
    padding: 5px 0 20px 0;
    font-size: 20px;
    position: relative; }
    .placeholder2__category i {
      position: absolute;
      font-size: 30px;
      top: 5px; }
  .placeholder2__title {
    color: #999999;
    font-size: 32px;
    font-family: "Times New Roman", Times, serif; }
    @media (min-width: 46.25em) {
      .placeholder2__title {
        font-size: 38px; } }
    @media (min-width: 61.25em) {
      .placeholder2__title {
        font-size: 48px; } }
  .placeholder2__byline {
    color: #999999;
    font-size: 18px;
    padding: 20px 0 8px 0; }
    @media (min-width: 46.25em) {
      .placeholder2__byline {
        font-size: 20px; } }
    @media (min-width: 61.25em) {
      .placeholder2__byline {
        font-size: 22px; } }
  .placeholder2__time {
    color: #999999;
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 1rem; }
  @media (min-width: 46.25em) {
    .placeholder2__image {
      width: 45%; } }
  @media (min-width: 61.25em) {
    .placeholder2__image {
      width: 570px; } }
  .placeholder2__image img {
    width: 100%;
    object-fit: cover; }
  .placeholder2__sub-container {
    background-color: #31353d;
    color: #fff; }
    .placeholder2__sub-container--title {
      font-size: 14px;
      font-weight: 600; }
    .placeholder2__sub-container--content {
      font-family: "Times New Roman", Times, serif;
      font-size: 19px; }
  .placeholder2__sub-inner-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 46.25em) {
      .placeholder2__sub-inner-container {
        flex-direction: row;
        margin: auto; } }
  .placeholder2__article {
    border-bottom: 1px solid #5a5d64;
    padding: 1rem; }
    @media (min-width: 46.25em) {
      .placeholder2__article {
        width: 25%;
        border-bottom: 0px;
        margin: 1rem 0;
        padding: 0 1rem;
        border-right: 1px solid #5a5d64; } }
    .placeholder2__article :not(:first) {
      padding-left: 1rem; }

.home {
  flex-grow: 1; }
  .home__search {
    background: #ccc1b7;
    height: 4rem; }
  .home__form {
    display: flex;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px; }
    .home__form form {
      display: flex;
      width: 100%;
      margin: 1rem 0; }
    .home__form i {
      color: #fff;
      margin-left: 1.3rem;
      font-size: 2rem; }
    .home__form input {
      font-family: MetricWeb, sans-serif;
      font-size: 14px;
      line-height: 16px;
      box-sizing: border-box;
      height: 32px;
      padding: 0 8px;
      vertical-align: middle;
      background: #fff;
      border-style: solid;
      border-color: transparent;
      box-shadow: none;
      min-width: 50%;
      flex-grow: 1; }
    .home__form input:focus {
      box-shadow: 0 0 0 1px #807973;
      border-color: #0a5e66;
      outline: 0; }
    .home__form button {
      font-weight: 600;
      font-family: MetricWeb, sans-serif;
      font-size: 14px;
      line-height: 16px;
      line-height: 14px;
      background-size: 21px 21px;
      min-height: 28px;
      min-width: 60px;
      padding: 6px 8px;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s, color 0.15s ease-out, border-color 0.15s ease-out;
      user-select: none;
      background-clip: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 0;
      background-color: #262a33;
      color: #fff;
      border: 1px solid transparent;
      height: 32px;
      margin: 0 0 0 14px; }

.search-results {
  padding-left: 10px;
  padding-right: 10px; }
  .search-results__container {
    width: 100%;
    max-width: 732px;
    padding: 0.5rem;
    margin: auto; }
  @media (min-width: 46.25em) {
    .search-results {
      padding-left: 20px;
      padding-right: 20px; } }
