@import "../abstracts/variables";

.article-row {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc1b7;

  &__image {
    background-image: url('/images/No_image_3x4.svg.png');
    background-repeat: no-repeat;
    background-size: 100px auto;
    background-position: (50px 25px);
  }

  &__category {
    color: $brand-brown-text;
    font-weight: 700;
    font-size: 14px;

    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__content {
    max-width: 385px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;


    h4 {
      font-size: 19px;
      margin-bottom: 0.8rem;
      font-weight: 500;
    }

    a {
      font-family: "Times New Roman", Times, serif;
      text-decoration: none;
      color: #000;
    }

    p {
      color: #66605c;
      font-size: 14px;
    }
  }

  &__date {
    font-size: 11px;
    color: #66605c;
  }

  button {
    @include button;
    margin-top: 1rem;

    span {
      display: none;
    }
  }

  img {
    margin-top: 1rem;
    display: none;
  }

  @media (min-width: $bp-sm) {
    img {
      display: block;
      width: 150px;
      height: auto;
    }

    &__content {
      margin-left: 1em;
    }

    &__button {
      margin-left: 1rem;
      min-width: 130px;
      max-width: 130px;
    }

    button {
      span {
        display: inline;
      }
    }
  }

  @media (min-width: $bp-md) {
    &__button span {
      display: inline;
    }

    img {
      display: block;
      width: 200px;
      height: auto;
    }
  }
}
