@import "../abstracts/variables";

@mixin common-header-elements {
  display: flex;
  height: 100%;
  align-items: center;
}

.header {
  display: flex;
  background-color: $background-color;
  border-bottom: 1px solid #ccc1b7;

  &__container {
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    min-width: 240px;
    position: relative;
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1;
    align-items: center;
    height: 6rem;

    @media (min-width: 46.25em) {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 740px;
    }

    @media (min-width: 61.25em) {
      max-width: 980px;
    }

    @media (min-width: 76.25em) {
      max-width: 1220px;
    }
  }

  &__left-menu {
    @include common-header-elements;
    width: 147px;

    i {
      margin-top: 0.5rem;
      display: block;
      font-size: 32px;
      margin-right: 2rem;
      cursor: pointer;
    }
  }

  &__search {
    @media (max-width: 61.25em) {
      visibility: hidden;
    }
  }

  &__visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  &__right-menu {
    @include common-header-elements;
    width: 147px;
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-myft?format=svg&source=page-kit-layout&tint=%2333302E%2C%2333302E);
    background-size: 52px auto;
    background-repeat: no-repeat;
    background-position: right;

    @media all and (-ms-high-contrast: none) {
      display: none;
    }

    @media all and (min-width: $bp-sm) and (-ms-high-contrast: none) {
      display: flex;
    }
  }

  &__logo {
    width: 886px;
    max-height: 55px;
    text-align: center;
    @include common-header-elements;
    justify-content: center;

    img {
      width: 500px;

      @media (max-width: $bp-md) {
        width: 300px;
      }
    }

    @media screen and (-ms-high-contrast: none) {
      img {
        max-height: 26px;
      }

      @media (min-width: $bp-md) {
        img {
          max-height: 43px;
        }
      }
    }
  }
}
