.paging {
  margin: 1rem 0;

  &__container {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__total {
    @include word-spacing;
  }

  &__page {
    font-weight: 700;
    @include word-spacing;
  }

  button {
    @include button;
    padding: 6px 8px 1px 8px;
    margin: 0 1rem;

    i {
      font-size: 2rem;
    }
  }
}
