@import "../abstracts/variables";

.placeholder {
  &__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    min-width: 240px;
    position: relative;
    max-width: 1150px;

    @media (min-width: $bp-md) {
      padding-left: 10px;
      padding-right: 10px;
    }

    zoom: 1;
    align-items: center;
    height: 6rem;
  }

  &__article-picture {
    width: 100%;
    align-self: baseline;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;

      @media (min-width: $bp-md) {
        height: 550px;
      }
    }
  }

  &__article-title {
    background-color: $background-color;
    padding: 0.5rem;

    @media (min-width: $bp-md) {
      transform: translate(-20px, -150px);
      width: 750px;
      padding: 1.5rem;
    }

    &--category {
      color: $brand-brown-text;
      font-weight: 700;
    }

    &--bar {
      width: 150px;
      background-color: $black;
      height: 7px;
      margin-top: 0.85rem;
      display: none;

      @media (min-width: $bp-md) {
        display: block;
      }
    }

    // IE 11 ---
    @media all and (-ms-high-contrast: none) {
      width: 100%;
    }

    @media all and (min-width: $bp-sm) and (-ms-high-contrast: none) {
      width: 750px;
    }
    // IE 11 ---

    h1 {
      font-family: none;
      font-size: 35px;
      padding-top: 0.5rem;

      @media (min-width: $bp-md) {
        font-size: 55px;
      }
    }
  }

  &__story {
    width: 100%;
    max-width: 732px;
    padding: 0.5rem;
    padding-right: 1rem;

    @media (min-width: $bp-sm) {
      margin-top: 0px;
    }

    @media (min-width: $bp-md) {
      margin-top: -150px;
    }

    // IE 11 ---
    @media all and (-ms-high-contrast: none) {
      margin-top: 50px;
    }

    @media all and (min-width: $bp-sm) and (-ms-high-contrast: none) {
      margin-top: 0px;
    }

    @media all and (min-width: $bp-md) and (-ms-high-contrast: none) {
      margin-top: -110px;
    }
    // IE 11 ---

    h2 {
      font-size: 18px;
      margin: 0.5rem 0;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
