@import "../abstracts/variables";

.placeholder2 {
  background-color: $gray-dark;

  &__container {
    width: 100%;
    max-width: $md-max-width;
    padding: 0.5rem;
    margin: auto;

    @media (min-width: $bp-sm) {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $bp-md) {
      max-width: $lg-max-width;
    }
  }

  &__content {
    @media (min-width: $bp-sm) {
      width: 60%;
    }
  }

  &__category {
    color: $white;
    padding: 5px 0 20px 0;
    font-size: 20px;
    position: relative;

    i {
      position: absolute;
      font-size: 30px;
      top: 5px;
    }
  }

  &__title {
    color: $gray-mid;
    font-size: 32px;
    font-family: "Times New Roman", Times, serif;

    @media (min-width: $bp-sm) {
      font-size: 38px;
    }

    @media (min-width: $bp-md) {
      font-size: 48px;
    }
  }

  &__byline {
    color: $gray-mid;
    font-size: 18px;
    padding: 20px 0 8px 0;

    @media (min-width: $bp-sm) {
      font-size: 20px;
    }

    @media (min-width: $bp-md) {
      font-size: 22px;
    }
  }

  &__time {
    color: $gray-mid;
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  &__image {
    @media (min-width: $bp-sm) {
      width: 45%;
    }

    @media (min-width: $bp-md) {
      width: 570px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__sub-container {
    background-color: $gray-mid-dark;
    color: $white;

    &--title {
      font-size: 14px;
      font-weight: 600;
    }

    &--content {
      font-family: "Times New Roman", Times, serif;
      font-size: 19px;
    }
  }

  &__sub-inner-container {
    max-width: $lg-max-width;
    display: flex;
    flex-direction: column;

    @media (min-width: $bp-sm) {
      flex-direction: row;
      margin: auto;
    }
  }

  &__article {
    border-bottom: 1px solid $gray-mid-border;
    padding: 1rem;

    @media (min-width: $bp-sm) {
      width: 25%;
      border-bottom: 0px;
      margin: 1rem 0;
      padding: 0 1rem;
      border-right: 1px solid $gray-mid-border;
    }

    :not(:first) {
      padding-left: 1rem;
    }
  }
}
