$background-color: #fff1e5;
$background-darker: #f2dfce;
$white: #fff;
$search-background: #ccc1b7;
$input-border: #807973;
$brand-brown-text: #990f3d;
$green-border: #0c707a;
$gray: #66605c;
$gray-dark: #262a33;
$gray-mid-dark: #31353d;
$gray-mid: #999999;
$gray-mid-border: #5a5d64;
$black: #000;

$background-hover-color: rgba(13, 118, 128, 0.1);

// break points
$bp-sm: 46.25em; //740px
$bp-md: 61.25em; //980px
$bp-lg: 76.25em; //1220px

$md-max-width: 732px;
$lg-max-width: 1000px;
