@import "../abstracts/variables";

.home {
  flex-grow: 1;

  &__search {
    background: $search-background;
    height: 4rem;
  }

  &__form {
    display: flex;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;

    form {
      display: flex;
      width: 100%;
      margin: 1rem 0;
    }

    i {
      color: $white;
      margin-left: 1.3rem;
      font-size: 2rem;
    }

    input {
      font-family: MetricWeb, sans-serif;
      font-size: 14px;
      line-height: 16px;
      box-sizing: border-box;
      height: 32px;
      padding: 0 8px;
      vertical-align: middle;
      background: #fff;
      border-style: solid;
      border-color: transparent;
      box-shadow: none;
      min-width: 50%;
      flex-grow: 1;
    }

    input:focus {
      box-shadow: 0 0 0 1px $input-border;
      border-color: #0a5e66;
      outline: 0;
    }

    button {
      font-weight: 600;
      font-family: MetricWeb, sans-serif;
      font-size: 14px;
      line-height: 16px;
      line-height: 14px;
      background-size: 21px 21px;
      min-height: 28px;
      min-width: 60px;
      padding: 6px 8px;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s, color 0.15s ease-out,
        border-color 0.15s ease-out;
      user-select: none;
      background-clip: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 0;
      background-color: #262a33;
      color: #fff;
      border: 1px solid transparent;
      height: 32px;
      margin: 0 0 0 14px;
    }
  }
}
