@import "../abstracts/variables";

.search-results {
  &__container {
    width: 100%;
    max-width: $md-max-width;
    padding: 0.5rem;
    margin: auto;
  }

  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $bp-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
