@mixin button {
  background-color: transparent;
  color: $green-border;
  border: 1px solid $green-border;
  padding: 6px 8px;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 0.3s, color 0.15s ease-out,
    border-color 0.15s ease-out;

  &:hover {
    background-color: $background-hover-color;
  }
}

@mixin word-spacing {
  margin-left: 2px;
  margin-right: 2px;
}
